/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3&display=swap');

/* Components */
@import "./header.css";
@import "./buttons.css";

/* Reset */
*{
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font-family: "Source Sans 3", sans-serif;
 vertical-align: baseline;
 text-decoration: none;    
}